name: Test

on: [push, pull_request]

jobs:
    test:
        name: PHP ${{ matrix.php-version }}

        runs-on: ubuntu-22.04

        strategy:
            fail-fast: false
            experimental: [false]
            matrix:
                php-version:
                    - 7.3
                    - 7.4
                    - 8.0
                    - 8.1
                    - 8.2
                    - 8.3
            include:
              - php: 8.2
                analysis: true
                    

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  coverage: pcov
                  tools: composer:v2

            - name: Install Composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  composer-options: --prefer-dist

            - name: Static analysis
              if: matrix.analysis
              run: vendor/bin/phpstan

            - name: Run Tests
              run: vendor/bin/phpunit
